.pagination .page-item.active .page-link {
  background-color: #52c41a !important;
  border-color: #52c41a !important;
  color: white !important;
}

.pagination .page-item .page-link:hover {
  background-color: #52c41a !important;
  color: white !important;
}

.pagination .page-item .page-link {
  color: #52c41a !important;
}

.breadcrumb-item a:hover {
  color: #52c41a !important;
}

.form-control:focus {
  border-color: #52c41a !important;
  box-shadow: 0 0 0 1px rgba(82, 196, 26, 0.25) !important;
}

.form-control:focus.search {
  border-color: #ecce4b !important;
  box-shadow: 0 0 0 1px rgba(82, 196, 26, 0.25) !important;
}

.form-select:focus {
  border-color: #52c41a !important;
  box-shadow: 0 0 0 1px rgba(82, 196, 26, 0.25) !important;
}

.form-select:focus.search {
  border-color: #ecce4b !important;
  box-shadow: 0 0 0 1px rgba(82, 196, 26, 0.25) !important;
}

.pc-item.active {
  background-color: #52c41a !important;
  color: white !important;
  border-right: none !important;
  margin-right: -2px !important;
}

.pc-item.active .pc-link {
  color: white !important;
  border-right: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.nav-link {
  color: black !important;
}

.nav-link.active {
  color: #52c41a !important;
}

.form-check-input:checked {
  background-color: #52c41a !important;
  border-color: #52c41a !important;
}