@import 'select2/dist/css/select2.css';
@import 'select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css';

.card-hover:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.select2-selection.select2-selection--single {
  border-color: rgb(192, 189, 189) !important;
  box-shadow: 0 0 0 0 rgba(88, 88, 88, 0.25) !important;
}

.select2-selection.select2-selection--single:focus {
  border-color: #53c41af5 !important;
  box-shadow: 0 0 0 0 rgba(88, 88, 88, 0.25) !important;
}

.form-control.select2-hidden-accessible{
  border-color: rgb(192, 189, 189) !important;
  box-shadow: 0 0 0 0 rgba(88, 88, 88, 0.25) !important;

}

.select2-dropdown{
  border-color: rgb(192, 189, 189) !important;
  box-shadow: 0 0 0 1px rgba(151, 154, 150, 0.25) !important;
}

.select2-search.select2-search--dropdown {
  border-color: rgb(192, 189, 189) !important;
  box-shadow: 0 0 0 1px rgba(82, 196, 26, 0.25) !important;

}

.select2-search__field {
  border-color: rgb(228, 228, 228) !important;
  box-shadow: 0 0 0 1px rgba(111, 114, 109, 0.25) !important;
}

.select2-invalid {
  border-radius: 6.5px;
  border: solid #dc3545 1.5px;
}

.pagination .page-item.active .page-link {
  background-color: #52c41a !important;
  border-color: #52c41a !important;
  color: white !important;
}

.pagination .page-item .page-link:hover {
  background-color: #52c41a !important;
  color: white !important;
}

.pagination .page-item .page-link {
  color: #52c41a !important;
}

.breadcrumb-item a:hover {
  color: #52c41a !important;
}

.form-control:focus {
  border-color: #52c41a !important;
  box-shadow: 0 0 0 1px rgba(82, 196, 26, 0.25) !important;
}

.form-control:focus.search {
  border-color: #ecce4b !important;
  box-shadow: 0 0 0 1px rgba(82, 196, 26, 0.25) !important;
}

.form-select:focus {
  border-color: #52c41a !important;
  box-shadow: 0 0 0 1px rgba(82, 196, 26, 0.25) !important;
}

.form-select:focus.search {
  border-color: #ecce4b !important;
  box-shadow: 0 0 0 1px rgba(82, 196, 26, 0.25) !important;
}

.pc-item.active {
  background-color: #52c41a !important;
  color: white !important;
  border-right: none !important;
  margin-right: -2px !important;
}

.pc-item.active .pc-link {
  color: white !important;
  border-right: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.nav-link {
  color: black !important;
}

.nav-link.active {
  color: #52c41a !important;
}

.form-check-input:checked {
  background-color: #52c41a !important;
  border-color: #52c41a !important;
}

#master-departemen-table td {
    padding: 4px;   /* or any value you want */
}

/* 
.dt-processing-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 2rem;
    font-weight: bold;
    color: #28a745;
}

.dt-processing-dots span {

    animation: bounce 0.8s infinite ease-in-out;
}

.dt-processing-dots span:nth-child(2) {

    animation-delay: 0.2s;
}
.dt-processing-dots span:nth-child(3) {

    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
        opacity: 0.2;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
} */